
@{
    ViewData["Title"] = "Ordered";
}

<h1 class="text-center">Cocktail ordered!</h1>

<a class="btn btn-primary mt-1 w-100" asp-area="" asp-controller="Home" asp-action="Index">Back to homepage</a>

