@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dave's Cocktails!</h1>
    <h2>Select the Cocktail you would liked delivered to your table!</h2>
    <img class="mainImage" src="~/img/Dave's Cocktails.jpg" />
    <br />
    <!-- Gumb za dostopanje do koktejlov -->
    <a class="btn btn-primary mt-1" asp-area="" asp-controller="Cocktail" asp-action="Index">Get your cocktail here</a>
</div>
